.rm--center-nav
  position: fixed
  top: 0
  width: 100vw
  z-index: 1
  text-align: center
  ul
    text-align: center
    list-style: none
    a
      text-decoration: none
      color: white
      font-weight: bold
