@font-face {
  font-family: 'NBInternational';
  font-weight: normal;
  src: url('//dng0adgfomo9v.cloudfront.net/fonts/NBInternationalRegular-2.otf');
}

@font-face {
  font-family: 'NBInternational';
  font-weight: bold;
  src: url('//dng0adgfomo9v.cloudfront.net/fonts/NBInternationalBold.otf');
}
