@import './normalize.css'
@import './fonts.css'

body, html
  background: #a18a5c
  font-family: 'Akzidenz'
  overflow-x: hidden

h1
  font-size: 6rem
  line-height: 6.4rem
  font-size: 7.5vw
  line-height: 7.5vw
h2
  font-size: 4rem
  line-height: 4.2rem
  font-size: 4.2vw
  line-height: 4.6vw
h3
  font-size: 2.3rem
  line-height: 2.6rem
  font-size: 2.5vw
  line-height: 3vw
h4
  font-size: 1.7rem
  line-height: 1.9rem
h5
  font-size: 1.3rem
  line-height: 1.6rem
  font-size: 1.5vw
  line-height: 1.7vw
p
  font-size: 1.2rem
  line-height: 1.5rem
  font-size: 1.2vw
  line-height: 1.7vw
div
  font-size: 1em
  line-height: 1.2em
  font-size: 1.2vw
  line-height: 1.4vw

h1, h2, h3, h4, h5, h6
  margin: 0
